@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --main-gray: #4b5563;
  --main-blue: #1677ff;
  --main-green: #16a34a;
  --main-orange: #ea580c;
  --main-purple: #9333ea;
  --main-warning: #a54d0e;
  --main-danger: #d61c1c;
  --secondary-blue: #dbeafe;
  --secondary-green: #dcfce7;
  --secondary-orange: #ffedd5;
  --secondary-purple: #f3e8ff;
  --secondary-yellow: #fef9c3;
  --secondary-red: #fee2e2;
  --secondary-gray: #f9fafb;
  --utility-text: #9ca3af;
}

@utility text-utility {
  color: var(--utility-text);
}
@utility text-main-gray {
  color: var(--main-gray);
}
@utility text-main-blue {
  color: var(--main-blue);
}
@utility text-main-green {
  color: var(--main-green);
}
@utility text-main-orange {
  color: var(--main-orange);
}
@utility text-main-purple {
  color: var(--main-purple);
}
@utility text-main-warning {
  color: var(--main-warning);
}
@utility text-main-danger {
  color: var(--main-danger);
}

@utility text-secondary-blue {
  color: var(--secondary-blue);
}
@utility text-secondary-green {
  color: var(--secondary-green);
}
@utility text-secondary-orange {
  color: var(--secondary-orange);
}
@utility text-secondary-purple {
  color: var(--secondary-purple);
}
@utility text-secondary-yellow {
  color: var(--secondary-yellow);
}
@utility text-secondary-red {
  color: var(--secondary-red);
}
@utility text-secondary-gray {
  color: var(--secondary-gray);
}

/* === BACKGROUND COLORS === */
@utility bg-main-gray {
  background-color: var(--main-gray);
}
@utility bg-main-blue {
  background-color: var(--main-blue);
}
@utility bg-main-green {
  background-color: var(--main-green);
}
@utility bg-main-orange {
  background-color: var(--main-orange);
}
@utility bg-main-purple {
  background-color: var(--main-purple);
}
@utility bg-main-warning {
  background-color: var(--main-warning);
}
@utility bg-main-danger {
  background-color: var(--main-danger);
}

@utility bg-secondary-blue {
  background-color: var(--secondary-blue);
}
@utility bg-secondary-green {
  background-color: var(--secondary-green);
}
@utility bg-secondary-orange {
  background-color: var(--secondary-orange);
}
@utility bg-secondary-purple {
  background-color: var(--secondary-purple);
}
@utility bg-secondary-yellow {
  background-color: var(--secondary-yellow);
}
@utility bg-secondary-red {
  background-color: var(--secondary-red);
}
@utility bg-secondary-gray {
  background-color: var(--secondary-gray);
}

@utility rounded-scrollbar {
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

body,
#root {
  min-height: 100vh;
  width: 100%;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

body:has(dialog[open]) {
  overflow: hidden;
}
