@import '_variables';

%container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;

    @media screen and (max-width: $phone) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

%homepage_image_text {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 55rem;

    @media screen and (max-width: $medium) {
        width: auto;
    }

    @media screen and (max-width: $phone) {
        display: none;
    }
}

@mixin parallax($imgPath) {
    min-height: 22rem;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($imgPath);

    
}

%flex_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

%auth_input {
    border-radius: 8px;
    background-color: white;
    font-size: 18px;
    padding-left: 0.5rem;
    height: 2.2rem;
    width: 100%;
    outline: none;

    @media screen and (max-width: $phone) {
        width: 97%;
        height: 2.5rem;
    }
}

%auth_button {
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    width: 103%;
    height: 3.1rem;
    margin-top: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $phone) {
        width: 100%;
    }
}

%navbar_item {
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $logo-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}

%switcher {
    background: none;
    border-radius: 2.3rem;
    border-width: 0.1rem;
    border-style: solid;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    transition: transform 0.5 ease;
    overflow: hidden;
    position: relative;
}

%navbar_icon {
    width: 2rem;
    height: 2rem;
}

@mixin toggleNavbar($hidden: true) {
    @if $hidden {
        transition: left 0.5s linear;
        left: 0;
    }
    @else {
        transition: left 0.5s linear;
        left: -150%;
    }
}

%mobile_navbar {
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 9999;
    height: 100vh;
    height: 100svh;
    transition: left 0.5s linear;
}

%light_theme {
    background-color: $light-theme-background;
    color: $light-theme-text;
}

%dark_theme {
    background-color: $dark-theme-background;
    color: $dark-theme-text;
}

%create_workout_button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    width: 10rem;
    height: 3rem;
    font-size: 24px;

    &:active {
        transform: scale(0.99);
    }
}

@mixin workout_header_button($primary_color, $bg-color) {
    border: 3px solid $primary_color;
    background-color: $bg-color;
    width: 7rem;
    height: 2.75rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: $font;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    
    &:hover {
        box-shadow: rgba($bg-color, 0.5) 5px 5px;
    }

    p {
        font-size: 20px;
        color: $primary_color;
    }

    .workout_header_button_icon {
        fill: $primary_color;
        height: 1.2rem;
        width: 1.2rem;
    }

    .workout_header_button_loader {
        height: 1.2rem;
        width: 1.2rem;
        color: white;
    }
}

@mixin choose_workout_exercise_button($border, $bg-color, $text-color) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border: $border;
    background-color: $bg-color;
    color: $text-color;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
    border-radius: 8px;

    @media screen and (max-width: $phone) {
        background: none;
        border: none;
        width: 2.5rem;
    }

    p {
        margin: 0;
        @media screen and (max-width: $phone) {
            display: none;
        }
    }

    .choose_workout_exercise_close_icon {
        height: 1.2rem;
        width: 1.2rem;
        fill: $text-color;

        @media screen and (max-width: $phone) {
            height: 1.7rem;
            width: 1.7rem;
            fill: white;
        }
    }
}

@mixin day_header_button($bg-color, $text-color, $icon_dims) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 3px solid $text-color;
    color: $text-color;
    background-color: $bg-color;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    p {
        margin: 0;
        @media screen and (max-width: $phone) {
            display: none;
        }
    }

    @media screen and (max-width: $phone) {
        background: none;
        border: none;
        width: 2.5rem;
    }

    .day_header_button_icon, .workout_exercise_icon {
        fill: $text-color;
        height: $icon_dims;
        width: $icon_dims;

        @media screen and (max-width: $phone) {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

@mixin info_button($border, $bg-color: 'inherit', $text-color, $icon) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 2px solid $border;
    border-radius: 8px;
    background: $bg-color;
    color: $text-color;
    width: 7rem;
    height: 2.2rem;
    font-size: 18px;
    cursor: pointer;
    font-family: $font;

    .info_cancel_button_icon {
        fill: $icon;
        height: 1.2rem;
        width: 1.2rem;
    }
}