@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';

$font: 'Poppins', sans-serif;

$dark-theme-background: #1b1b1b;
$dark-theme-text: #F7FAFE;
$calendar_dark: #353535;

$light-theme-background: #F7FAFE;
$light-theme-text: #1b1b1b;

$phone: 27rem;
$medium: 56rem;
$large: 80rem;

$join_button_clr: yellow;
$logo-color: #488eff;
$exercise_color: #FFB948;

$contact-color: #85898d;

$mobile-menu-color: rgb(248, 211, 143);