@import '_variables';

.wrapper {
    background-color: white;
}

.container {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    background-color: $light-theme-background;
    

    @media screen and (max-width: 1280px) {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    @media screen and (max-width: $phone) {
        margin: 0;
        display: block;
        min-height: 100vh;
        min-height: 100svh;
    }
}

.image {

    width: 35rem;
    height: 41.25rem;

    @media screen and (max-width: $xl) {
        width: 33.5rem;
    }

    @media screen and (max-width: $large) {
        width: 32rem;
    }

    @media screen and (max-width: $medium) {
        display: none;
    }
}

.auth_wrapper {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;

    h1 {
        margin: 0;
        color: $logo-color;
        margin-top: 1.5rem;
        margin-bottom: 1.25rem;
        
        @media screen and (max-width: $phone) {
            margin-left: 0.25rem;
        }
    }

    @media screen and (max-width: $phone) {
    }
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;

    @media screen and (max-width: $phone) {
        width: 100%;
        padding-left: 0;
    }
}

.extra_text {
    color: #4A6375;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;

    span {
        cursor: pointer;
        font-weight: 600;
        margin-top: 0.75rem;
    }
}

.error_text_server {
    font-size: 18px;
    color: red;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.changepassword_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    gap: 0.5rem;
    margin-top: 8.5rem;
    height: 100%;

    @media screen and (max-width: $phone) {
        width: 100%;
        padding-left: 0;
    }

    h3 {
        margin: 0;
    }

}

.small_container {
    margin-top: 3rem;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    width: 55rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;

    @media screen and (max-width: $phone) {
        width: 100%;
    }
}

.info_cards_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: $phone) {
        flex-direction: column;
        gap: 1rem;
    }
}

.info_card {
    background: linear-gradient(30deg, cyan, $logo-color);
    border-radius: 48px;
    width: 11rem;
    height: 14rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    p {
        font-size: 26px;
        margin: 0;
    }

    @media screen and (max-width: $phone) {
        width: 70%;
        height: 20rem;
    }

    .info_header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: white;

        @media screen and (max-width: $phone) {
            width: 2rem;
            height: 2rem;
        }
    }
}

.info_title {
    font-size: 48px;
    font-weight: 600;
    color: $logo-color;

    @media screen and (max-width: $phone) {
        font-size: 36px;
        margin-top: 0;
        margin-left: 1rem;
    }
}

.info_subtitle {
    color: $logo-color;
    margin-left: 1rem;
}

.identity_input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (max-width: $phone) {

        .identity_wrapper {
            justify-content: flex-start;
        }
    }
}

.identity_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;

    .identity_wrapper_icon {
        fill: white;
        height: 2.2rem;
        width: 2.2rem;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .identity_wrapper_icon_calculator {
        @extend .identity_wrapper_icon;
        fill: $logo-color
    }

    .identity_wrapper_icon_chosen {
        @extend .identity_wrapper_icon;
        fill: greenyellow;
        transform: scale(1.2);
    }

}