@import '_variables';
@import '_config';

.join_button {
    border: none;
    border-radius: 12px;
    background-color: $join_button_clr;
    font-weight: 600;
    width: 8.5rem;
    height: 2.5rem;
    font-size: 20px;
    margin-top: 0.5rem;
    cursor: pointer;
}

.auth_submit_button {
    @extend %auth_button;
    background-color: rgb(37, 219, 37);
    box-shadow: rgb(174, 165, 165) 0px 3px 4px;
}

.auth_loading_button {
    @extend %auth_button;
    background-color: rgb(174, 165, 165);
    box-shadow: gray 0px 3px 4px;
}

.workouts_redirect_button {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: $logo-color;
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}