@import '_variables';
@import '_config';

.join_button {
    border: none;
    border-radius: 12px;
    background-color: $join_button_clr;
    font-weight: 600;
    width: 8.5rem;
    height: 2.5rem;
    font-size: 20px;
    margin-top: 0.5rem;
    cursor: pointer;
}

.auth_submit_button {
    @extend %auth_button;
    background-color: rgb(37, 219, 37);
    box-shadow: rgb(174, 165, 165) 0px 3px 4px;
}

.auth_loading_button {
    @extend %auth_button;
    background-color: rgb(174, 165, 165);
    box-shadow: gray 0px 3px 4px;
}

.workouts_redirect_button {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: $logo-color;
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create_workout_button_active {
    @extend %create_workout_button;
    background-color: $logo-color;
}

.create_workout_button_disabled {
    @extend %create_workout_button;
    background-color: gray;
    pointer-events: none;
}

.create_workout_btn_light {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create_workout_btn_dark {
    box-shadow: rgba(226, 218, 218, 0.479) 0px 5px 15px;
}

.create_workout_form_header_save_button {
    @include workout_header_button(rgba(0, 128, 0, 0.622), lime)
}

.create_workout_form_header_cancel_button {
    @include workout_header_button(red, rgba(255, 99, 71, 0.644));
}

.choose_workout_exercise_close {
    @include choose_workout_exercise_button(2px solid gray, rgb(199, 189, 189), rgb(96, 94, 94));
}

.choose_workout_exercise_save {
    @include choose_workout_exercise_button(2px solid rgb(91, 195, 91), rgb(0, 198, 0), white);
}

.prerotate {
    transition: transform 0.5 ease;
}

.rotate_button {
    transform: rotate(180deg);
}

.expand_button {
    @include day_header_button(#5E48FF, #48EAFF, 1.1rem);
}

.add_exercise_to_day_button {
    @include day_header_button(#5E48FF, white, 1.1rem);
}

.myworkouts_header_button {
    @include day_header_button($exercise_color, white, 1.1rem);
}

.workout_exercise_button {
    @include day_header_button(#FFB948, white, 1.2rem);
    width: 2rem;
    height: 2rem;       

    @media screen and (max-width: $phone) {
        gap: 0;
        width: 2rem;
    }
}

.workout_routine_step_buttons_wrapper, .info_buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.info_buttons {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: $phone) {
        justify-content: space-evenly;
    }
}

.workout_routine_step_button {
    border: none;
    border-radius: 8px;
    border: 3px solid cyan;
    background-color: $logo-color;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 8rem;
    height: 3rem;
    font-size: 20px;
    cursor: pointer;

    .workout_exercise_button_icon {
        fill: white;
        height: 1.2rem;
        width: 1.2rem;
    }
}

.info_cancel_button {
    @include info_button($border: gray, $text-color: gray, $icon: red);
}

.info_save_button {
    @include info_button($border: green, $bg-color: linear-gradient(30deg, lime, $logo-color), $text-color: white, $icon: white);
}

.calculator_expand {
    @include day_header_button(inherit, #48EAFF, 1.1rem);
}

.calculator_option_button {
    width: auto;
    height: 2rem;
    background-color: rgb(183, 171, 171);
    border-radius: 8px;
    border: solid px gray;
    font-weight: 600;
    color: white;
    cursor: pointer;

}

.calculator_custom_calculate_button {
    @include calculate_custom_button($logo-color, pointer);
}

.calculator_custom_calculate_button_disabled {
    @include calculate_custom_button(gray, not-allowed);
}

.tracker_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;

    .tracker_button {
        background: inherit;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 8px;
    }

    .tracker_button_icon {
        fill: $logo-color;
        height: 1.5rem;
        width: 1.5rem;
    }

    .tracker_button_icon_disabled {
        fill: grey;
        height: 1.5rem;
        width: 1.5rem;
        cursor: not-allowed;
    }

    .tracker_button_icon_cancel {
        fill: red;
        height: 1.5rem;
        width: 1.5rem;
    }
}

.calories_tracker_food_buttons {
    @extend .tracker_buttons;
    
    @media screen and (max-width: $phone) {
        justify-content: flex-end;
        flex-direction: column;
    }
}

.tracker_calculate_button {
    height: 2.5rem;
    border-radius: 4px;
    background-color: $logo-color;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

    @media screen and (max-width: $phone) {
        font-size: 16px;
    }
}

.tracker_calculate_button_disabled {
    @extend .tracker_calculate_button;
    background-color: grey;
    cursor: not-allowed;
}

.tracker_track_button {
    border: none;
    outline: none;
    background-color: $logo-color;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 12rem;
    height: 3rem;
    color: white;
    cursor: pointer;
    border-radius: 8px;

    p {
        font-size: 28px;
        font-weight: 600;
    }
}

.error_button {
    width: 15rem;
    height: 5rem;
    background-color: turquoise;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;

    p {
        font-size: 24px;
        font-weight: 600;
        color: white;
    }
}

.not_logged_button {
    background-color: turquoise;
    color: white;
    border-radius: 4px;
    width: 10rem;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;

    p {
        color: white;
        font-size: 22px;
    }
}