@import '_variables';
@import '_config';

.join_button {
    border: none;
    border-radius: 12px;
    background-color: $join_button_clr;
    font-weight: 600;
    width: 8.5rem;
    height: 2.5rem;
    font-size: 20px;
    margin-top: 0.5rem;
    cursor: pointer;
}

.auth_submit_button {
    @extend %auth_button;
    background-color: rgb(37, 219, 37);
    box-shadow: rgb(174, 165, 165) 0px 3px 4px;
}

.auth_loading_button {
    @extend %auth_button;
    background-color: rgb(174, 165, 165);
    box-shadow: gray 0px 3px 4px;
}

.workouts_redirect_button {
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: $logo-color;
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create_workout_button_active {
    @extend %create_workout_button;
    background-color: $logo-color;
}

.create_workout_button_disabled {
    @extend %create_workout_button;
    background-color: gray;
    pointer-events: none;
}

.create_workout_btn_light {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create_workout_btn_dark {
    box-shadow: rgba(226, 218, 218, 0.479) 0px 5px 15px;
}

.create_workout_form_header_save_button {
    @include workout_header_button(rgba(0, 128, 0, 0.622), lime)
}

.create_workout_form_header_cancel_button {
    @include workout_header_button(red, rgba(255, 99, 71, 0.644));
}

.choose_workout_exercise_close {
    @include choose_workout_exercise_button(2px solid gray, rgb(199, 189, 189), rgb(96, 94, 94));
}

.choose_workout_exercise_save {
    @include choose_workout_exercise_button(2px solid rgb(91, 195, 91), rgb(0, 198, 0), rgb(41, 251, 41));
}

.prerotate {
    transition: transform 0.3 ease;
}

.rotate_button {
    transform: rotate(180deg);
}