@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';
.auth_loading_button, .auth_submit_button {
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  width: 103%;
  height: 3.1rem;
  margin-top: 2.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 27rem) {
  .auth_loading_button, .auth_submit_button {
    width: 100%;
  }
}

.create_workout_button_disabled, .create_workout_button_active {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  width: 10rem;
  height: 3rem;
  font-size: 24px;
}
.create_workout_button_disabled:active, .create_workout_button_active:active {
  transform: scale(0.99);
}

.join_button {
  border: none;
  border-radius: 12px;
  background-color: yellow;
  font-weight: 600;
  width: 8.5rem;
  height: 2.5rem;
  font-size: 20px;
  margin-top: 0.5rem;
  cursor: pointer;
}

.auth_submit_button {
  background-color: rgb(37, 219, 37);
  box-shadow: rgb(174, 165, 165) 0px 3px 4px;
}

.auth_loading_button {
  background-color: rgb(174, 165, 165);
  box-shadow: gray 0px 3px 4px;
}

.workouts_redirect_button {
  border: none;
  cursor: pointer;
  border-radius: 12px;
  background-color: #488eff;
  color: white;
  font-size: 24px;
  font-weight: 600;
  width: 12rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create_workout_button_active {
  background-color: #488eff;
}

.create_workout_button_disabled {
  background-color: gray;
  pointer-events: none;
}

.create_workout_btn_light {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create_workout_btn_dark {
  box-shadow: rgba(226, 218, 218, 0.479) 0px 5px 15px;
}

.create_workout_form_header_save_button {
  border: 3px solid rgba(0, 128, 0, 0.622);
  background-color: lime;
  width: 7rem;
  height: 2.75rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.create_workout_form_header_save_button:hover {
  box-shadow: rgba(0, 255, 0, 0.5) 5px 5px;
}
.create_workout_form_header_save_button p {
  font-size: 20px;
  color: rgba(0, 128, 0, 0.622);
}
.create_workout_form_header_save_button .workout_header_button_icon {
  fill: rgba(0, 128, 0, 0.622);
  height: 1.2rem;
  width: 1.2rem;
}
.create_workout_form_header_save_button .workout_header_button_loader {
  height: 1.2rem;
  width: 1.2rem;
  color: white;
}

.create_workout_form_header_cancel_button {
  border: 3px solid red;
  background-color: rgba(255, 99, 71, 0.644);
  width: 7rem;
  height: 2.75rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.create_workout_form_header_cancel_button:hover {
  box-shadow: rgba(255, 99, 71, 0.5) 5px 5px;
}
.create_workout_form_header_cancel_button p {
  font-size: 20px;
  color: red;
}
.create_workout_form_header_cancel_button .workout_header_button_icon {
  fill: red;
  height: 1.2rem;
  width: 1.2rem;
}
.create_workout_form_header_cancel_button .workout_header_button_loader {
  height: 1.2rem;
  width: 1.2rem;
  color: white;
}

.choose_workout_exercise_close {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border: 2px solid gray;
  background-color: rgb(199, 189, 189);
  color: rgb(96, 94, 94);
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  border-radius: 8px;
}
@media screen and (max-width: 27rem) {
  .choose_workout_exercise_close {
    background: none;
    border: none;
    width: 2.5rem;
  }
}
.choose_workout_exercise_close p {
  margin: 0;
}
@media screen and (max-width: 27rem) {
  .choose_workout_exercise_close p {
    display: none;
  }
}
.choose_workout_exercise_close .choose_workout_exercise_close_icon {
  height: 1.2rem;
  width: 1.2rem;
  fill: rgb(96, 94, 94);
}
@media screen and (max-width: 27rem) {
  .choose_workout_exercise_close .choose_workout_exercise_close_icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: white;
  }
}

.choose_workout_exercise_save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border: 2px solid rgb(91, 195, 91);
  background-color: rgb(0, 198, 0);
  color: white;
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  border-radius: 8px;
}
@media screen and (max-width: 27rem) {
  .choose_workout_exercise_save {
    background: none;
    border: none;
    width: 2.5rem;
  }
}
.choose_workout_exercise_save p {
  margin: 0;
}
@media screen and (max-width: 27rem) {
  .choose_workout_exercise_save p {
    display: none;
  }
}
.choose_workout_exercise_save .choose_workout_exercise_close_icon {
  height: 1.2rem;
  width: 1.2rem;
  fill: white;
}
@media screen and (max-width: 27rem) {
  .choose_workout_exercise_save .choose_workout_exercise_close_icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: white;
  }
}

.prerotate {
  transition: transform 0.5 ease;
}

.rotate_button {
  transform: rotate(180deg);
}

.expand_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 3px solid #48EAFF;
  color: #48EAFF;
  background-color: #5E48FF;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.expand_button p {
  margin: 0;
}
@media screen and (max-width: 27rem) {
  .expand_button p {
    display: none;
  }
}
@media screen and (max-width: 27rem) {
  .expand_button {
    background: none;
    border: none;
    width: 2.5rem;
  }
}
.expand_button .day_header_button_icon, .expand_button .workout_exercise_icon, .expand_button .calculator_expand_icon {
  fill: #48EAFF;
  height: 1.1rem;
  width: 1.1rem;
}
@media screen and (max-width: 27rem) {
  .expand_button .day_header_button_icon, .expand_button .workout_exercise_icon, .expand_button .calculator_expand_icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.add_exercise_to_day_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 3px solid white;
  color: white;
  background-color: #5E48FF;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.add_exercise_to_day_button p {
  margin: 0;
}
@media screen and (max-width: 27rem) {
  .add_exercise_to_day_button p {
    display: none;
  }
}
@media screen and (max-width: 27rem) {
  .add_exercise_to_day_button {
    background: none;
    border: none;
    width: 2.5rem;
  }
}
.add_exercise_to_day_button .day_header_button_icon, .add_exercise_to_day_button .workout_exercise_icon, .add_exercise_to_day_button .calculator_expand_icon {
  fill: white;
  height: 1.1rem;
  width: 1.1rem;
}
@media screen and (max-width: 27rem) {
  .add_exercise_to_day_button .day_header_button_icon, .add_exercise_to_day_button .workout_exercise_icon, .add_exercise_to_day_button .calculator_expand_icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.myworkouts_header_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 3px solid white;
  color: white;
  background-color: #FFB948;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.myworkouts_header_button p {
  margin: 0;
}
@media screen and (max-width: 27rem) {
  .myworkouts_header_button p {
    display: none;
  }
}
@media screen and (max-width: 27rem) {
  .myworkouts_header_button {
    background: none;
    border: none;
    width: 2.5rem;
  }
}
.myworkouts_header_button .day_header_button_icon, .myworkouts_header_button .workout_exercise_icon, .myworkouts_header_button .calculator_expand_icon {
  fill: white;
  height: 1.1rem;
  width: 1.1rem;
}
@media screen and (max-width: 27rem) {
  .myworkouts_header_button .day_header_button_icon, .myworkouts_header_button .workout_exercise_icon, .myworkouts_header_button .calculator_expand_icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.workout_exercise_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 3px solid white;
  color: white;
  background-color: #FFB948;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.workout_exercise_button p {
  margin: 0;
}
@media screen and (max-width: 27rem) {
  .workout_exercise_button p {
    display: none;
  }
}
@media screen and (max-width: 27rem) {
  .workout_exercise_button {
    background: none;
    border: none;
    width: 2.5rem;
  }
}
.workout_exercise_button .day_header_button_icon, .workout_exercise_button .workout_exercise_icon, .workout_exercise_button .calculator_expand_icon {
  fill: white;
  height: 1.2rem;
  width: 1.2rem;
}
@media screen and (max-width: 27rem) {
  .workout_exercise_button .day_header_button_icon, .workout_exercise_button .workout_exercise_icon, .workout_exercise_button .calculator_expand_icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
@media screen and (max-width: 27rem) {
  .workout_exercise_button {
    gap: 0;
    width: 2rem;
  }
}

.workout_routine_step_buttons_wrapper, .info_buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info_buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 27rem) {
  .info_buttons {
    justify-content: space-evenly;
  }
}

.workout_routine_step_button {
  border: none;
  border-radius: 8px;
  border: 3px solid cyan;
  background-color: #488eff;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 8rem;
  height: 3rem;
  font-size: 20px;
  cursor: pointer;
}
.workout_routine_step_button .workout_exercise_button_icon {
  fill: white;
  height: 1.2rem;
  width: 1.2rem;
}

.info_cancel_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 2px solid gray;
  border-radius: 8px;
  background: "inherit";
  color: gray;
  width: 7rem;
  height: 2.2rem;
  font-size: 18px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.info_cancel_button .info_cancel_button_icon {
  fill: red;
  height: 1.2rem;
  width: 1.2rem;
}

.info_save_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 2px solid green;
  border-radius: 8px;
  background: linear-gradient(30deg, lime, #488eff);
  color: white;
  width: 7rem;
  height: 2.2rem;
  font-size: 18px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.info_save_button .info_cancel_button_icon {
  fill: white;
  height: 1.2rem;
  width: 1.2rem;
}

.calculator_expand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 3px solid #48EAFF;
  color: #48EAFF;
  background-color: inherit;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.calculator_expand p {
  margin: 0;
}
@media screen and (max-width: 27rem) {
  .calculator_expand p {
    display: none;
  }
}
@media screen and (max-width: 27rem) {
  .calculator_expand {
    background: none;
    border: none;
    width: 2.5rem;
  }
}
.calculator_expand .day_header_button_icon, .calculator_expand .workout_exercise_icon, .calculator_expand .calculator_expand_icon {
  fill: #48EAFF;
  height: 1.1rem;
  width: 1.1rem;
}
@media screen and (max-width: 27rem) {
  .calculator_expand .day_header_button_icon, .calculator_expand .workout_exercise_icon, .calculator_expand .calculator_expand_icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.calculator_option_button {
  width: auto;
  height: 2rem;
  background-color: rgb(183, 171, 171);
  border-radius: 8px;
  border: solid px gray;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.calculator_custom_calculate_button {
  border-radius: 4px;
  background-color: #488eff;
  color: white;
  height: 2.5rem;
  width: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
}

.calculator_custom_calculate_button_disabled {
  border-radius: 4px;
  background-color: gray;
  color: white;
  height: 2.5rem;
  width: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: not-allowed;
}