@import '_variables';
@import '_config';

.calculators_wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.calculator_wrapper {
    border-radius: 16px;
    border: solid 2px rgb(91, 80, 80);
    width: 100%;
}

.calculator_header {
    background-color: rgba(128, 128, 128, 0.621);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;

    p {
        font-size: 22px;
        font-weight: 600;

        @media screen and (max-width: $phone) {
            font-size: 20px;
        }
    }

    @media screen and (max-width: $phone) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.calculator_content_wrapper {
    margin: 1rem;

    h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.calculator_buttons_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    @media screen and (max-width: $phone) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.calculator_custom_inputs_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: $phone) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.calculator_loader_icon {
    margin: inherit;
}

.calculator_result {
    min-height: 3rem;

    h4 {
        margin: 0;
    }
}

.calculator_custom_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $phone) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        margin-left: 0.3rem;
    }
}

.calculator_inputs {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    @media screen and (max-width: $phone) {
        justify-content: flex-start;
        
    }
}

.calculator_inputs_with_gender {
    @extend .calculator_inputs;
    align-items: flex-start;
}

.calculator_input_wrapper {
    
    p {
        margin-bottom: 0;
        width: auto;
    }
}

.mycalendar_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.trackers_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .trackers_body_measurements {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .trackers_calories {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}

.tracker_track_message_wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tracker_content_wrapper {
    margin-top: 3rem;
}

.tracker_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .tracker_title_input {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        p {
            font-size: 20px;
            font-weight: 600;
            color: $logo-color;
            margin: 0;

            @media screen and (max-width: $phone) {
                font-size: 20px;
            }
        }

        .tracker_value {
            font-weight: 500;
        }
    }
}

.calories_intake_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;

    p {
        font-size: 22px;
        font-weight: 600;
        color: $logo-color;
    }
}

.calories_intake_input_wrapper, .calories_intake_custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
}

.calories_intake_custom_inputs_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    p {
        font-size: 18px;
    }

    @media screen and (max-width: $phone) {
        flex-direction: column;
        align-items: flex-start;
    }

    div {
        @media screen and (max-width: $phone) {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
        }
    }
}

.calories_intake_search_inputs_wrapper {
    @extend .calories_intake_custom_inputs_wrapper;
    gap: 1.5rem;

    p:last-child {
        color: $logo-color;
    }

    @media screen and (max-width: $phone) {
        gap: 1rem;
    }
}

.calories_intake_result {
    cursor: pointer;
    font-size: 20px;
}

.calories_intake_add_option {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.calories_tracker_foods_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.calories_tracker_food_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    

    @media screen and (max-width: $phone) {
        border: 2px solid $logo-color;
        border-radius: 4px;
        padding: 0.3rem;
        width: 95%;
    }

    .calories_tracker_food_elements_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;

        @media screen and (max-width: $phone) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: normal;
        }
    }

    .calories_tracker_food_element {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        margin-left: 0.2rem;

        @media screen and (max-width: $phone) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }

        p {
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 0;

            @media screen and (max-width: $phone) {
                font-size: 18px;
            }
        }

        p:last-child {
            color: $logo-color;
        }
    }
}

.calories_intake_search_result_list {
    max-height: 10rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(80, 80, 80);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $logo-color;
        box-shadow: inset 0 0 6px rgba(124, 60, 60, 0.3);
    }

    @media screen and (max-width: $phone) {
        max-width: auto;
    }
}

.tracker_custom_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.tracker_delete_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.summary_charts_wrapper {
    width: 100%;

    h2 {
        margin-left: 1.5rem;
    }
}

.custom_tooltip {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.summary_table_wrapper {
    margin-left: auto;
    margin-right: auto;

    table.summary_table {
        border-collapse: separate;
        border-spacing: 4px;
        border: none;
        text-align: center;
    
        th, td, tr {
            border: none;
            border-radius: 8px;
            width: 7rem;
            height: 2rem;
            font-size: 18px;
            color: white;
            text-align: center;

            @media screen and (max-width: $phone) {
                font-size: 16px;
            }
        }
    
        th:nth-child(even) {
            background-color: $logo-color;
        }
        
        td:nth-child(odd) {
            background-color: $exercise_color;
        }
        td:nth-child(even) {
            background-color: $logo-color;
        }
        
        th:nth-child(odd) {
            background-color: $exercise_color;
        }
    }
}

