@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';
.auth_ok, .auth_error, .auth_idle {
  border-radius: 8px;
  background-color: white;
  font-size: 18px;
  padding-left: 0.5rem;
  height: 2.2rem;
  width: 100%;
  outline: none;
}
@media screen and (max-width: 27rem) {
  .auth_ok, .auth_error, .auth_idle {
    width: 97%;
    height: 2.5rem;
  }
}

.light_input {
  background-color: #F7FAFE;
  color: #1b1b1b;
}

.dark_input {
  background-color: #1b1b1b;
  color: #F7FAFE;
}

.auth_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.auth_idle {
  border: 2px solid grey;
  box-shadow: grey 0px 3px 4px;
}

.auth_error {
  border: 2px solid rgb(239, 68, 68);
  box-shadow: rgb(239, 68, 68) 0px 3px 4px;
}

.auth_ok {
  border: 2px solid lime;
}

.auth_label {
  color: #4A6375;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.auth_label_icon {
  width: 1rem;
  height: 1rem;
  fill: #4A6375;
}

.error_text {
  color: rgb(239, 68, 68);
  margin: 0;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  font-size: 14px;
}

.info_input {
  border-bottom: 2px solid white;
  color: white;
  font-size: 18px;
}

.find_exercise_input, .calories_intake_food_search, .find_workout_exercise_input {
  outline: none;
  width: 25rem;
  height: 3rem;
  border: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  border-bottom: solid 3px #488eff;
}
@media screen and (max-width: 27rem) {
  .find_exercise_input, .calories_intake_food_search, .find_workout_exercise_input {
    width: 100%;
  }
}

.find_workout_exercise_input {
  font-size: 16px;
  width: 15rem;
  background-color: #488eff;
  color: white;
}

.calories_intake_food_search {
  font-size: 18px;
  width: 50%;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 27rem) {
  .calories_intake_food_search {
    width: 80%;
  }
}

.exercise_sets_reps, .calories_intake_input_quantity, .calories_intake_input_foodname, .edit_exercise_input, .info_input {
  outline: none;
  border: none;
  border-bottom: solid 3px #488eff;
  width: 5rem;
  height: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: #488eff;
  color: white;
  font-size: 18px;
}
.exercise_sets_reps::-webkit-inner-spin-button, .calories_intake_input_quantity::-webkit-inner-spin-button, .calories_intake_input_foodname::-webkit-inner-spin-button, .edit_exercise_input::-webkit-inner-spin-button, .info_input::-webkit-inner-spin-button, .exercise_sets_reps::-webkit-outer-spin-button, .calories_intake_input_quantity::-webkit-outer-spin-button, .calories_intake_input_foodname::-webkit-outer-spin-button, .edit_exercise_input::-webkit-outer-spin-button, .info_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.info_input {
  width: 60%;
  border-bottom: 2px solid #488eff;
  background-color: inherit;
  text-align: center;
}

.edit_exercise_input {
  background-color: #FFB948;
}

.calories_intake_input_foodname {
  background-color: inherit;
  width: 12rem;
  color: #488eff;
}

.calories_intake_input_quantity {
  background-color: inherit;
  width: 4rem;
  color: #488eff;
}

.create_workout_title, .create_workout_title_edit {
  outline: none;
  font-size: 26px;
  font-weight: 600;
  margin-top: 0.75rem;
  width: 93%;
  border: none;
}

.create_workout_title_edit {
  border-bottom: 2px solid #488eff;
  width: 99%;
}
@media screen and (max-width: 27rem) {
  .create_workout_title_edit {
    width: 98%;
  }
}

.create_exercise_day_title {
  outline: none;
  font-size: 18px;
  width: 90%;
  margin-left: 0.5rem;
  border: none;
  font-size: 20px;
  font-weight: 600;
  background-color: #488eff;
  color: white;
  margin-bottom: 0.2rem;
}

.create_workout_description, .create_workout_description_edit {
  outline: none;
  resize: none;
  width: 93%;
  margin-top: 0.5rem;
  border: none;
  max-height: 12rem;
  overflow-y: auto;
  font-size: 20px;
}
.create_workout_description::-webkit-scrollbar, .create_workout_description_edit::-webkit-scrollbar {
  width: 10px;
}
.create_workout_description::-webkit-scrollbar-track, .create_workout_description_edit::-webkit-scrollbar-track {
  background-color: rgb(80, 80, 80);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.create_workout_description::-webkit-scrollbar-thumb, .create_workout_description_edit::-webkit-scrollbar-thumb {
  background-color: #488eff;
  box-shadow: inset 0 0 6px rgba(124, 60, 60, 0.3);
}
@media screen and (max-width: 27rem) {
  .create_workout_description, .create_workout_description_edit {
    max-width: auto;
  }
}

.create_workout_description_edit {
  border: 2px solid #488eff;
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 98%;
}
@media screen and (max-width: 27rem) {
  .create_workout_description_edit {
    width: 95%;
  }
}

.calculator_input {
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: solid 2px #488eff;
  width: 5.5rem;
  font-size: 20px;
  color: #488eff;
}
.calculator_input::-webkit-inner-spin-button, .calculator_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.activity_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  height: 4rem;
}

.activity_dropdown {
  height: 2rem;
  background-color: #488eff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: white;
}
@media screen and (max-width: 27rem) {
  .activity_dropdown {
    width: 100%;
  }
}

.tracker_input {
  outline: none;
  border: none;
  background-color: inherit;
  width: 6rem;
  color: #488eff;
  font-size: 20px;
  border-bottom: 2px solid #488eff;
}
.tracker_input::-webkit-inner-spin-button, .tracker_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}