@import '_config';
@import '_variables';

.auth_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.auth_idle {
    @extend %auth_input;
    border: 2px solid grey;
    box-shadow: grey 0px 3px 4px;
}

.auth_error {
    @extend %auth_input;
    border: 2px solid rgb(239 68 68);
    box-shadow: rgb(239 68 68) 0px 3px 4px;
}

.auth_ok {
    @extend %auth_input;
    border: 2px solid lime;
}

.auth_label {
    color: #4A6375;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.auth_label_icon {
    width: 1rem;
    height: 1rem;
    fill: #4A6375;
}

.error_text {
    color: rgb(239 68 68);
    margin: 0;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    font-size: 14px;
}

.info_input {
    
    border-bottom: 2px solid white;
    color: white;
    font-size: 18px;
    
}

.find_exercise_input {
    outline: none;
    width: 25rem;
    height: 3rem;
    border: none;
    font-size: 20px;
    font-family: $font;
    border-bottom: solid 3px $logo-color;

    @media screen and (max-width: $phone) {
        width: 100%;
    }
}

.find_workout_exercise_input {
    @extend .find_exercise_input;
    font-size: 16px;
    width: 15rem;
    background-color: $logo-color;
}

.exercise_sets_reps {
    outline: none;
    border: none;
    border-bottom: solid 3px $logo-color;
    width: 5rem;
    height: 2rem;
    font-family: $font;
    background-color: $logo-color;
    font-size: 18px;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

.light_input {
    @extend %light_theme;
}

.dark_input {
    @extend %dark_theme;
}

.create_workout_title {
    outline: none;
    font-size: 26px;
    font-weight: 600;
    margin-top: 0.75rem;
    width: 93%;
    border: none;
}

.create_workout_description {
    outline: none;
    resize: none;
    width: 93%;
    margin-top: 0.5rem;
    border: none;
    max-height: 12rem;
    overflow-y: auto;
    font-size: 20px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(80, 80, 80);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $logo-color;
        box-shadow: inset 0 0 6px rgba(124, 60, 60, 0.3);
    }

    @media screen and (max-width: $phone) {
        max-width: auto;
    }
}