@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';
.workout_wrapper {
  margin: 2% 5%;
  width: 100vw;
  min-height: 100vh;
}
.workout_wrapper h1 {
  margin: 0;
}
@media screen and (max-width: 27rem) {
  .workout_wrapper {
    margin: 0.75rem;
    margin-top: 4rem;
  }
}

.workouts_main_wrapper, .workouts_find_wrapper, .workouts_create_wrapper {
  display: flex;
  flex-direction: column;
}
.workouts_main_wrapper h1, .workouts_find_wrapper h1, .workouts_create_wrapper h1, .workouts_main_wrapper h3, .workouts_find_wrapper h3, .workouts_create_wrapper h3 {
  color: #488eff;
  margin: 0;
}
.workouts_main_wrapper p, .workouts_find_wrapper p, .workouts_create_wrapper p {
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 27rem) {
  .workouts_main_wrapper p, .workouts_find_wrapper p, .workouts_create_wrapper p {
    font-size: 16px;
  }
}
.workouts_main_wrapper p span, .workouts_find_wrapper p span, .workouts_create_wrapper p span {
  color: #488eff;
  font-weight: 600;
}

.workouts_find_wrapper p, .workouts_create_wrapper p {
  font-size: 16px;
}

.exercises_results_list, .workout_exercises_results_list {
  width: 100%;
  max-height: 15rem;
  overflow-y: scroll;
  border-radius: 12px;
  cursor: pointer;
}
@media screen and (max-width: 27rem) {
  .exercises_results_list, .workout_exercises_results_list {
    max-height: 10rem;
  }
}
.exercises_results_list::-webkit-scrollbar, .workout_exercises_results_list::-webkit-scrollbar {
  width: 10px;
}
.exercises_results_list::-webkit-scrollbar-track, .workout_exercises_results_list::-webkit-scrollbar-track {
  background-color: rgb(80, 80, 80);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.exercises_results_list::-webkit-scrollbar-thumb, .workout_exercises_results_list::-webkit-scrollbar-thumb {
  background-color: #488eff;
  box-shadow: inset 0 0 6px rgba(124, 60, 60, 0.3);
}

.workout_exercises_results_list {
  max-height: 10rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 98%;
}

.exercise_wrapper p, .create_workout_exercise p {
  font-size: 18px;
}
@media screen and (max-width: 27rem) {
  .exercise_wrapper p, .create_workout_exercise p {
    font-size: 16px;
  }
}

.exercise_steps_image, .create_workout_exercise_steps_image, .workout_exercise_details .workout_exercise_details_instructions, .view_exercise_steps_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 80rem) {
  .exercise_steps_image, .create_workout_exercise_steps_image, .workout_exercise_details .workout_exercise_details_instructions, .view_exercise_steps_image {
    flex-direction: column;
  }
}
.exercise_steps_image img, .create_workout_exercise_steps_image img, .workout_exercise_details .workout_exercise_details_instructions img, .view_exercise_steps_image img {
  width: 27rem;
  height: 27rem;
  border-radius: 12px;
  border: 2px solid #488eff;
}
@media screen and (max-width: 27rem) {
  .exercise_steps_image img, .create_workout_exercise_steps_image img, .workout_exercise_details .workout_exercise_details_instructions img, .view_exercise_steps_image img {
    width: 100%;
    height: 20rem;
  }
}

.view_exercise_steps_image img {
  width: 22rem;
  height: 22rem;
}

.create_workout_exercise h2 {
  font-size: 18px;
}
.create_workout_exercise p {
  font-size: 16px;
}
.create_workout_exercise p span {
  color: inherit;
}

.choose_workout_wrapper {
  margin-bottom: 0.75rem;
}

.choose_workout_exercise_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.choose_workout_exercise_header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.1rem;
}

.create_workout_exercise_steps_image p, .workout_exercise_details .workout_exercise_details_instructions p {
  font-size: 16px;
}
.create_workout_exercise_steps_image img, .workout_exercise_details .workout_exercise_details_instructions img {
  width: 20rem;
  height: 20rem;
}

.sets_reps_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.85rem;
  gap: 0.75rem;
}
@media screen and (max-width: 27rem) {
  .sets_reps_wrapper {
    gap: 0.5rem;
  }
}
.sets_reps_wrapper p {
  margin: 0;
  font-size: 18px;
}
.sets_reps_wrapper h2 {
  margin: 0;
  margin-right: 0.75rem;
}
.sets_reps_wrapper .sets_reps {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.create_workout_form_wrapper, .myworkouts_wrapper {
  margin-top: 1.5rem;
  border-radius: 12px;
  padding: 2rem;
}
@media screen and (max-width: 27rem) {
  .create_workout_form_wrapper, .myworkouts_wrapper {
    border-width: 3px;
    padding: 0.2rem;
  }
}

.create_workout_buttons_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
}
.create_workout_buttons_header .create_workout_form_header_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.days_wrapper, .myworkouts_workouts {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: white;
}

.day_wrapper, .myworkouts_workout_wrapper {
  border-radius: 12px;
  background-color: #488eff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media screen and (max-width: 27rem) {
  .day_wrapper, .myworkouts_workout_wrapper {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
.day_wrapper .day_title, .myworkouts_workout_wrapper .day_title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 65%;
}
@media screen and (max-width: 27rem) {
  .day_wrapper .day_title, .myworkouts_workout_wrapper .day_title {
    font-size: 18px;
  }
}
.day_wrapper .day_header, .day_wrapper .myworkouts_workout_header, .myworkouts_workout_wrapper .day_header, .myworkouts_workout_wrapper .myworkouts_workout_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.day_wrapper .day_header h1, .day_wrapper .day_header h2, .day_wrapper .myworkouts_workout_header h1, .day_wrapper .myworkouts_workout_header h2, .myworkouts_workout_wrapper .day_header h1, .myworkouts_workout_wrapper .day_header h2, .myworkouts_workout_wrapper .myworkouts_workout_header h1, .myworkouts_workout_wrapper .myworkouts_workout_header h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 65%;
  margin-left: 0.5rem;
}
.day_wrapper .day_header .day_header_buttons, .day_wrapper .day_header .myworkouts_workout_buttons, .day_wrapper .myworkouts_workout_header .day_header_buttons, .day_wrapper .myworkouts_workout_header .myworkouts_workout_buttons, .myworkouts_workout_wrapper .day_header .day_header_buttons, .myworkouts_workout_wrapper .day_header .myworkouts_workout_buttons, .myworkouts_workout_wrapper .myworkouts_workout_header .day_header_buttons, .myworkouts_workout_wrapper .myworkouts_workout_header .myworkouts_workout_buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
@media screen and (max-width: 27rem) {
  .day_wrapper .day_header .day_header_buttons, .day_wrapper .day_header .myworkouts_workout_buttons, .day_wrapper .myworkouts_workout_header .day_header_buttons, .day_wrapper .myworkouts_workout_header .myworkouts_workout_buttons, .myworkouts_workout_wrapper .day_header .day_header_buttons, .myworkouts_workout_wrapper .day_header .myworkouts_workout_buttons, .myworkouts_workout_wrapper .myworkouts_workout_header .day_header_buttons, .myworkouts_workout_wrapper .myworkouts_workout_header .myworkouts_workout_buttons {
    gap: 0;
  }
}

.myworkouts_workout_wrapper {
  margin-top: 1rem;
  background-color: #FFB948;
}
.myworkouts_workout_wrapper h1 {
  margin: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 65%;
}

.my_workouts_days {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.my_workouts_days h2, .my_workouts_days h3 {
  margin: 0;
  margin-left: 1rem;
  color: white;
}
.my_workouts_days:last-child {
  margin-bottom: 0.75rem;
}

.workout_exercise_wrapper {
  border-radius: 8px;
  background-color: #FFB948;
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
}
@media screen and (max-width: 27rem) {
  .workout_exercise_wrapper {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}

.workout_exercise_details_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.workout_exercise_details_header .workout_exercise_name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  max-width: 25rem;
}
@media screen and (max-width: 27rem) {
  .workout_exercise_details_header .workout_exercise_name {
    font-size: 16px;
    max-width: 10rem;
  }
}
.workout_exercise_details_header .workout_exercise_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 27rem) {
  .workout_exercise_details_header .workout_exercise_buttons {
    gap: 0.1rem;
  }
}

.workout_exercise_details {
  display: inline;
}
.workout_exercise_details p > span {
  font-weight: 500;
}
.intruction_sets_reps_text span {
  color: #488eff;
  font-size: 18px;
  font-weight: 700;
}